infs3204-prac3/infs3204-prac3/Service References/ManagementServiceReference/ManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/infs3204_prac3.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/infs3204_prac3.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ManagementService.Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PositionTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagementService.Job" nillable="true" type="tns:ManagementService.Job" />
</xs:schema>