infs3204-prac2/infs3204-prac3/infs3204-prac3/Service References/ManagementServiceReference/ManagementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2364/Services/ManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/infs3204_prac3.Services" />
  <xs:element name="SaveInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="streetAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suburb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/infs3204_prac3.Services" minOccurs="0" name="job" nillable="true" type="q1:ManagementService.Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>