infs3204-prac2/infs3204-prac2/Service References/ColorMixerServiceReference/ColorMixerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MixCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MixCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MixCodesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MixCodesSoapIn">
    <wsdl:part name="parameters" element="tns:MixCodes" />
  </wsdl:message>
  <wsdl:message name="MixCodesSoapOut">
    <wsdl:part name="parameters" element="tns:MixCodesResponse" />
  </wsdl:message>
  <wsdl:portType name="ColorMixerServiceSoap">
    <wsdl:operation name="MixCodes">
      <wsdl:input message="tns:MixCodesSoapIn" />
      <wsdl:output message="tns:MixCodesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ColorMixerServiceSoap" type="tns:ColorMixerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MixCodes">
      <soap:operation soapAction="http://tempuri.org/MixCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ColorMixerServiceSoap12" type="tns:ColorMixerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MixCodes">
      <soap12:operation soapAction="http://tempuri.org/MixCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ColorMixerService">
    <wsdl:port name="ColorMixerServiceSoap" binding="tns:ColorMixerServiceSoap">
      <soap:address location="http://localhost:7394/Services/ColorMixerService.asmx" />
    </wsdl:port>
    <wsdl:port name="ColorMixerServiceSoap12" binding="tns:ColorMixerServiceSoap12">
      <soap12:address location="http://localhost:7394/Services/ColorMixerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>